<div class="header">
    <h4>Edit Labels</h4>
</div>
<div class="newLabel" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="container marginAlign ">
        <button matTooltip="close" class="my-button" (click)="Cancel()"  >
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div [formGroup]="labelForm" >
        <input type="text" class="" formControlName="newLabelName" placeholder="Create new label">
    </div>
    <div class="container" (click)="AddLabel()" >
        <button matTooltip="close" class="my-button" >
            <mat-icon>check</mat-icon>
        </button>
    </div>
</div>
<div class="labels" *ngFor="let label of labels" fxFlexAlign="center" fxLayout="row"
    fxLayoutAlign="space-between center" (mouseenter)="label.editable=true"  (mouseleave)="label.editable=false">

    <div class="container"   *ngIf="!label.editable">
        <button class="my-button" type="submit" >
            <mat-icon>label</mat-icon>
        </button>
    </div>

    <div class="container"  *ngIf="label.editable" (click)="DeleteLabel(label)" >
        <button matTooltip="Delete label" class="my-button">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <p class="labelName" *ngIf="!label.editable" (click)="label.editable=!label.editable"   >
        {{label.labelName}}
    </p>
    <div   *ngIf="label.editable">
    <input type="text"  #updateLabel (input)="BindValue(updateLabel.value)" value="{{label.labelName}}" >
    </div>
    <div class="container " *ngIf="label.editable"  (click)="UpdateLabel(label)">
        <button matTooltip="Update label" class="my-button">
            <mat-icon>check</mat-icon>
        </button>
    </div>
    <div class="container " *ngIf="!label.editable">
        <button matTooltip="Rename label" class="my-button">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>
<div class="closeBtn" fxLayoutAlign="end " [mat-dialog-close] (click)="AddLabel()">
    <button mat-button type="submit" >
        Done
    </button>
</div>