.mainContent {
    max-width: 28%;
    height: 510px;
    padding: 2.5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 8px;
    text-align: center;
  }
  
  h2 {
    font-size: 25px;
    font-weight: 400;
    color: rgb(88, 80, 80);
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 320px;
  }
  
  .buttonsPart {
    margin-top: 30%;
    display: flex;
    justify-content: space-between;
  }

  mat-hint{
      font-size: 14px;
  }

  .invalid-feedback, mat-icon{
    color: rgb(226, 39, 39);
    font-size: 14px;
    margin-top:-15px;
    text-align: left;
    margin-left: 5px;
  }
  