<section class="mainContent" [class.alternative]="true" fxFlex.xs = 100 fxFlex.sm = 50 fxFlex=40 
 >
  <div>
    <app-logo></app-logo>
    <h2>Forgot Password?</h2>
    <p>Use your Fundoo Account</p>
  </div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="OnSubmit()">
    <div >
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input class="input" matInput formControlName="email" type="email" />
       
      </mat-form-field>
      <div>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">
          <mat-icon>error</mat-icon>Enter a valid email
        </div>
      </div>
      </div>
      <mat-hint class="emailHint">Link will be sent to above email to Reset password</mat-hint>
    </div>
    <div class="buttonsPart">
      <button mat-button routerLink='/signup' color="primary">Create account</button>
      <button class="submitBtn" mat-raised-button color="primary">Next</button>
    </div>
  </form>
 
</section>

<!-- <div class="snackbar" fxFlex=100 >
  <button class="snackBtn" mat-stroked-button (click)="openSnackBar()">
    show snack-bar
  </button>
</div> -->
