.mainContent {
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 5% auto;
  padding: 2.5%;
  max-width: 1000px;
  max-height: 800px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 8px;
  display: flex;
}

.subHeading {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  line-height: 28px;
}

.registerImg {
  width: 200px;
  height: 200px;
}

.formInputs{
  padding: 20px 0 ;
  height: auto;
}

.emailHint {
  font-size: 12px;
  display: block;
}
.passwordHint {
  font-size: 12px;
  margin-left: 6px;
}

.firstName{
  font-size: 12px;
}
.checkBox {
  margin-left: 10px;
}

.invalid-feedback {
  color: tomato;
  font-size: 12px;
  margin-left: 10px;
}
@media only screen and (max-width: 599px) {
  .alternative{
    border: none;
  }
}
