<section class="mainContent" fxFlex.xs=100 >
  <div class="leftPart">
    <div >
      <app-logo></app-logo>
      <p  class="subHeading">Create your Fundoo Account</p>
    </div>
    <div class="formInputs">
    <form [formGroup]= "form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName"  autocomplete="off" type="text" />
          <mat-hint *ngIf="submitted && f.firstName.errors" class=" firstName invalid-feedback">First and Last Name are required</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" class="form-control" autocomplete="off" type="text" />
        </mat-form-field>
      </div>
      <div class="emailSection">
        <mat-form-field   class="emailSection" appearance="outline">
          <mat-label>Your email address</mat-label>
          <input class="input"  formControlName="email" class="form-control" matInput type="email" />
          <mat-icon matSuffix></mat-icon>
          <mat-hint *ngIf="submitted && f.email.errors && f.email.errors.required" class="emailHint invalid-feedback">Email is required</mat-hint>
          <mat-hint *ngIf="!(submitted && f.email.errors)" class="emailHint">You can use letters, numbers & periods</mat-hint>
        </mat-form-field>
      </div>
      <div class="passwordSection">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" autocomplete="off" [type]="show? 'text':'password'" />
          <mat-hint *ngIf="!submitted && f.password.errors" class="passwordHint"
          >Use 8 letters, numbers or
          symbols</mat-hint>
          <mat-hint *ngIf="submitted && f.password.errors" class="passwordHint invalid-feedback"
          >Password is required</mat-hint>
        </mat-form-field>
       
        <mat-form-field appearance="outline">
          <mat-label>Confirm</mat-label>
          <input [type]="show? 'text':'password'" matInput formControlName="confirmpassword" class="form-control" autocomplete="off" />
        </mat-form-field>
       
      </div>
      <mat-checkbox class="checkBox" (click)="OnCheck()" >Show Password</mat-checkbox>
      <div class="buttonsPart"  >
        <button mat-button routerLink="/login" color="primary">Sign in instead</button>
        <button class="submitBtn" mat-raised-button (click) = "onSubmit()" color="primary" >
          Submit
        </button>
      </div>
    </form>
  </div>
  </div>
  <div  class="rightPart" fxHide.xs fxHide.sm>
    <img class="registerImg" src="assets\registerImage.jpeg" alt="" srcset="" />
    <p>Quick Notes, To-do List, Reminders</p>
  </div>
</section>
