<div class="takeNoteSection" fxFlex="40%" fxFlex.xs="80" fxLayout="row" *ngIf="!isOpen" (click)="isOpen = !isOpen"
  fxLayoutAlign="space-between center">
  <p>Take a note..</p>
</div>


<form [formGroup]="takeNote" *ngIf="isOpen" class="takeNoteSection" fxFlex="40%" fxFlex.xs="80">
  <div class="notesTitle" fxLayout="row" fxLayoutAlign="space-between center">
    <input *ngIf="isOpen" formControlName="title" placeholder="Title" />
    <div class="container" fxlayoutAlign="center center">
      <mat-icon class="my-button pinBtn" [class.clicked]="isPin" (click)="isPin=!isPin">push_pin</mat-icon>
    </div>

  </div>
  <div class="notesBody">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <input type="text" formControlName="description" placeholder="Take a note.." />
    </div>
    <div class="noteAction" fxLayout="row" fxLayoutAlign.gt-sm="space-between center" fxLayoutAlign.lt-sm="none center">
      <div fxLayout="row" fxLayoutGap.gt-sm="20%" fxLayoutGap.lt-sm="0%">
        <div class="container">
          <button matTooltip="Reminder" [matMenuTriggerFor]="reminder" [class.clicked]="isReminder" class="my-button"
            (click)="isReminder=!isReminder">
            <mat-icon>notification_add</mat-icon>
          </button>
        </div>
        <div class="container">
          <button matTooltip="Collaborator" class="my-button">
            <mat-icon>person_add_alt</mat-icon>
          </button>
        </div>
        <div class="container">
          <button matTooltip="Color" [matMenuTriggerFor]="aboveMenu" class="my-button">
            <mat-icon>color_lens</mat-icon>
          </button>
        </div>

        <div class="container">
          <button matTooltip="Add Image" class="my-button">
            <mat-icon>image</mat-icon>
          </button>
        </div>
        <div class="container">
          <button matTooltip="Archive" class="my-button" [class.clicked]="isArchive" (click)="isArchive=!isArchive">
            <mat-icon>archive</mat-icon>
          </button>
        </div>
        <div class="container">
          <button matTooltip="More" [class.clicked]="isMoreOpen" [matMenuTriggerFor]="more" class="my-button"
            (click)="isMoreOpen=!isMoreOpen">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="row">
        <button mat-button (click)="AddNote()">Close</button>
      </div>
    </div>
  </div>
</form>

<mat-menu  #aboveMenu="matMenu" yPosition="above">
  <div fxLayout="row"  class="space" fxLayoutAlign="space-between center">

    <button matTooltip="Default" class="pallete bg-white" mat-menu-item></button>

    <button matTooltip="Red" value="#e75f5f" (click)="isRed" class="pallete bg-red" mat-menu-item></button>

    <button matTooltip="Green" class="pallete bg-green" mat-menu-item></button>
  </div>

  <div fxLayout="row"  class="space" fxLayoutAlign="space-between center">

    <button matTooltip="Ornage" class="pallete bg-orange" mat-menu-item></button>

    <button matTooltip="Pink" class="pallete bg-pink" mat-menu-item></button>

    <button matTooltip="Gray" class="pallete bg-gray" mat-menu-item></button>

  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <button matTooltip="purple" class="pallete bg-purple" mat-menu-item></button>

    <button matTooltip="Blue" class="pallete bg-blue " mat-menu-item></button>

    <button matTooltip="Yellow" class="pallete bg-yellow" mat-menu-item></button>

  </div>
</mat-menu>



<mat-menu #reminder="matMenu">
  <button mat-menu-item matTooltip="Select Date-time">
    <mat-icon>schedule</mat-icon> Pick date & time
  </button>
</mat-menu>

<mat-menu #more="matMenu">
  <button mat-menu-item>Add label</button>
  <button mat-menu-item>Add drawing</button>
</mat-menu>