.takeNoteSection {
  width: 400px;
  margin: auto;
  border-radius: 8px;
  cursor: text;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}

.bg-red{
  background-color: #e75f5f;
}

input,
p {
  width: 90%;
  height: 30px;
  border: none;
  padding: 2%;
  background-color: #fafafa;
}

input{
  outline: none;
  border-radius: 8px;
}

.pinBtn {
  padding-top: 7px;
  padding-left: 5px;
}

.notesTitle,
.notesBody {
  padding: 2%;
}

.noteAction {
  padding-top: 10px;
}

.my-button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  padding-top: 4px;
  border: none;
  background-color: transparent;
}

.pallete{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  padding-top: 4px;
  border: none;

}



.pallete:hover{
  border: 1px solid black;
  color: none;
}



.moreOptions, .dateTimePicker {
  width: auto;
  height: fit-content;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  z-index: 99;
}

.space{
  margin-bottom:5px;
}

@media only screen and (min-width: 599px){
  :host ::ng-deep app-action-buttons .container{
    padding-right:20% ;
  }
  
}




@media only screen and (max-width: 599px) {
  .my-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 4px;
    border: none;
    background-color: transparent;
  }

  // :host ::ng-deep app-action-buttons .container{
  //   padding-right:0px ;
  // }
}

.my-button:hover {
  background-color: rgba(153, 147, 147, 0.5);
  color: rgb(255, 255, 255);
}

.clicked{
  background-color: rgba(31, 28, 28, 0.5);
}

mat-icon {
  font-size: 18px;
  
}
