<div class="mainSection"  fxLayoutAlign="space-between" *ngFor="let note of notes; let i = index">
    <mat-card class="card">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center" >
        <h2> {{ note.title }}</h2>
        <button matTooltip="Pin" class="pinBtn my-button" ><mat-icon>push_pin</mat-icon></button>
      </div>
      <mat-card-content>
        <p>
          {{ note.description }}
        </p>
      </mat-card-content>
      <!-- labels here -->
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="start">
           <div class="container">
               <button matTooltip="Restore from trash" class="my-button"> <mat-icon>restore_from_trash</mat-icon></button>
             </div>
             <div class="container">
               <button matTooltip="Delete Forever" class="my-button"> <mat-icon>delete_forever</mat-icon></button>
             </div>
         </div>
      </mat-card-actions>
    </mat-card>
  </div>
  

