mat-icon {
  font-size: 18px;
}

.space {
  padding-left: 5px;
}

.my-button {
  width           : 30px;
  height          : 30px;
  border-radius   : 15px;
  cursor          : pointer;
  padding-top     : 4px;
  border          : none;
  background-color: transparent;
}

.my-button:hover {
  background-color: rgba(153, 147, 147, 0.5);
}

.pallete {
  width        : 30px;
  height       : 30px;
  border-radius: 15px;
  cursor       : pointer;
  padding-top  : 4px;
  border       : none;

}

.pallete:hover {
  border: 1px solid black;
  color : none;
}


.spaces {
  margin-bottom: 5px;
}

.bg-white {
  background-color: #ffffff;
}

.bg-red {
  background-color: #e75f5f;
}

.bg-green {
  background-color: #65e665;
}

.bg-orange {
  background-color: #e28011;
}

.bg-gray {
  background-color: #c3c0c086;
}

.bg-pink {
  background-color: #ee6ce3;
}

.bg-purple {
  background-color: #be7aeb;
}

.bg-blue {
  background-color: #5eadee;
}

.bg-yellow {
  background-color: #e7da65;
}

input{
  outline:none;
border: none;
}

::ng-deep .align{
  padding: 10px !important ;
}

.labelslist{
  padding-top: 10px;
}


::ng-deep mat-checkbox{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.customDialog{
  mat-dialog-container{
    padding: 0px;
    margin: 0px;
    min-height: 200px !important;
    max-height: 600px !important;
    overflow: hidden;
    border-radius: 8px;
  }
}