<div *ngIf="!isDeleteNotes" fxLayout="row" fxLayoutAlign="space-between">
  <div class="container">
    <button class="my-button">
      <mat-icon matTooltip="Reminder" >notification_add</mat-icon>
    </button>
  </div>
  <div class="container" (click)="OpenCollab(card)" >
    <button matTooltip="Collaborator" class="my-button">
      <mat-icon >person_add_alt</mat-icon>
    </button>
  </div>
  <div  class="container">
    <button matTooltip="Color" [matMenuTriggerFor]="aboveMenu" class="my-button">
      <mat-icon>color_lens</mat-icon>
    </button>
  </div>
  <div  class="container">
    <button matTooltip="Add image" class="my-button">
      <mat-icon>image</mat-icon>
    </button>
  </div>
  <div  class="container">
    <button (click)="Archive()" class="my-button">
      <mat-icon matTooltip="Archive" *ngIf="!isArchiveNotes">archive</mat-icon>
      <mat-icon matTooltip="UnArchive" *ngIf="isArchiveNotes">unarchive</mat-icon>
    </button>
  </div>
  <div  class="container">
    <button matTooltip="More" class="my-button" [matMenuTriggerFor]="more">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="isDeleteNotes" fxLayout="row" fxLayoutAlign="start center">
  <div   >
    <mat-icon class="my-button space" (click)="trashNote()" matTooltip="Restore" *ngIf="isDeleteNotes">restore_from_trash</mat-icon>
  </div>
  <div  >
    <mat-icon class="my-button space" (click)="DeleteNote()" matTooltip="Delete forever" *ngIf="isDeleteNotes">delete_forever</mat-icon>
  </div>
</div>

<mat-menu #more="matMenu">
  <div *ngIf="!showLabels" >
    <button mat-menu-item (click)="trashNote()">Delete note</button>
    <button mat-menu-item  [matMenuTriggerFor]="Taglabel" >Add label</button>
  </div>
 
</mat-menu>


<mat-menu class="align" [hasBackdrop]="false"   #Taglabel="matMenu" xPosition="after" >
  <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()"oli88888>
    <p>
      Label note
    </p>
    <div fxLayout="row" fxLayoutAlign="center center" >
      <input type="text" #searchLabel (keydown)="CreateNewLabel(searchLabel.value)" autocomplete="off" placeholder="Enter label name">
      <mat-icon>search</mat-icon>
    </div>
    <div class="labelslist" >
      <div *ngFor="let label of labels | labelSearch:searchLabel.value"  >
        <mat-checkbox (click)="AddLabel(label)" class="labelName"> {{label.labelName}}</mat-checkbox>
      </div>
    </div>
  </div>
</mat-menu>

<mat-menu  #aboveMenu="matMenu" yPosition="below">
  <div fxLayout="row"  class="spaces" fxLayoutAlign="space-between center">

    <button matTooltip="Default" (click)="Color('#ffffff')" class="pallete bg-white" mat-menu-item></button>

    <button matTooltip="Red" (click)="Color('#e75f5f')"   class="pallete bg-red" mat-menu-item></button>

    <button matTooltip="Green" (click)="Color('#65e665')" class="pallete bg-green" mat-menu-item></button>
  </div>

  <div fxLayout="row"  class="spaces" fxLayoutAlign="space-between center">

    <button matTooltip="Ornage"  (click)="Color('#e28011')"  class="pallete bg-orange" mat-menu-item></button>

    <button matTooltip="Pink"  (click)="Color('#ee6ce3')" class="pallete bg-pink" mat-menu-item></button>

    <button matTooltip="Gray"  (click)="Color('#c3c0c086')" class="pallete bg-gray" mat-menu-item></button>

  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <button matTooltip="purple"  (click)="Color('#be7aeb')"  class="pallete bg-purple" mat-menu-item></button>

    <button matTooltip="Blue"  (click)="Color('#5eadee')" class="pallete bg-blue " mat-menu-item></button>

    <button matTooltip="Yellow" (click)="Color('#e7da65')" class="pallete bg-yellow" mat-menu-item></button>

  </div>
</mat-menu>