<div *ngIf="!isDeleteNotes" fxLayout="row" fxLayoutAlign="space-between">
  <div class="container">
    <button class="my-button">
      <mat-icon matTooltip="Reminder" >notification_add</mat-icon>
    </button>
  </div>
  <div class="container">
    <button matTooltip="Collaborator" class="my-button">
      <mat-icon >person_add_alt</mat-icon>

    </button>
  </div>
  <div  class="container">
    <button matTooltip="Color" class="my-button">
      <mat-icon>color_lens</mat-icon>
    </button>
  </div>
  <div  class="container">
    <button matTooltip="Add image" class="my-button">
      <mat-icon>image</mat-icon>
    </button>
  </div>
  <div  class="container">
    <button (click)="isArchive()" class="my-button">
      <mat-icon matTooltip="Archive" *ngIf="!isArchiveNotes">archive</mat-icon>
      <mat-icon matTooltip="UnArchive" *ngIf="isArchiveNotes">unarchive</mat-icon>
    </button>
  </div>
  <div  class="container">
    <button matTooltip="More" class="my-button" [matMenuTriggerFor]="more">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="isDeleteNotes" fxLayout="row" fxLayoutAlign="start center">
  <div   >
    <mat-icon class="my-button space" (click)="trashNote()" matTooltip="Restore" *ngIf="isDeleteNotes">restore_from_trash</mat-icon>
  </div>
  <div  >
    <mat-icon class="my-button space" (click)="DeleteNote()" matTooltip="Delete forever" *ngIf="isDeleteNotes">delete_forever</mat-icon>
  </div>
</div>

<mat-menu #more="matMenu">
  <button mat-menu-item (click)="trashNote()">Delete note</button>
  <button mat-menu-item>Add label</button>
</mat-menu>


<mat-menu  #aboveMenu="matMenu" yPosition="below">
  <div fxLayout="row"  class="space" fxLayoutAlign="space-between center">

    <button matTooltip="Default" class="pallete bg-white" mat-menu-item></button>

    <button matTooltip="Red"  (click)="isRed()" class="pallete bg-red" mat-menu-item></button>

    <button matTooltip="Green" class="pallete bg-green" mat-menu-item></button>
  </div>

  <div fxLayout="row"  class="space" fxLayoutAlign="space-between center">

    <button matTooltip="Ornage" class="pallete bg-orange" mat-menu-item></button>

    <button matTooltip="Pink" class="pallete bg-pink" mat-menu-item></button>

    <button matTooltip="Gray" class="pallete bg-gray" mat-menu-item></button>

  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <button matTooltip="purple" class="pallete bg-purple" mat-menu-item></button>

    <button matTooltip="Blue" class="pallete bg-blue " mat-menu-item></button>

    <button matTooltip="Yellow" class="pallete bg-yellow" mat-menu-item></button>

  </div>
</mat-menu>