<section class="mainContent" [class.alternative]="true" fxFlex.xs = 100 fxFlex.sm = 50 fxFlex=40>
  <div>
    <app-logo></app-logo>
    <h2>Sign in</h2>
    <p>Use your Fundoo Account</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="OnSignin()">
    <div class="inputSection">
      <mat-form-field appearance="outline" >
        <mat-label>Email Address</mat-label>
        <input class="input" formControlName="email" matInput type="email" />
        <mat-hint *ngIf="submitted && f.email.errors && f.email.errors.required" class="invalid-feedback">
          <mat-icon matPrefix >error</mat-icon> Enter a valid email</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="showPwd? 'text':'password'" class="input" formControlName="password" matInput type="password" autocomplete="off" />
        <mat-hint *ngIf="submitted && f.password.errors  && f.password.errors.required" class="invalid-feedback"  >
        <mat-icon matPrefix >error</mat-icon> Enter a valid password
        </mat-hint>
      </mat-form-field>
    </div>
    <p class="showPassword"><input class="input" (click)="OnCheck()" type="checkbox" /> Show password </p>
    <button mat-button routerLink= "/forgotPassword" color="primary">forgot Password?</button>

    <div class="buttonsPart" >
      <button mat-button routerLink= "/signup" color="primary">Create account</button>
      <button class="submitBtn" mat-raised-button color="primary">
        Sign in
      </button>
    </div>
  </form>
</section>
