
<form [formGroup]="cardForm" [ngClass]="bgColor()" >
<div class="notesTitle"   fxLayout="row" fxLayoutAlign="space-between center">
  <input mat-dialog-title [ngClass]="bgColor()" formControlName="title" placeholder="Title" value="{{data.title}}" />
  <div class="container"  fxlayoutAlign="center center">
    <mat-icon class="my-button pinBtn" [class.clicked]="true">push_pin</mat-icon>
  </div>
</div>
<div>
  <!-- <textarea [ngClass]="bgColor()" formControlName="description" placeholder="description" value="{{data.description}}" />
</textarea> -->
<textarea   [ngClass]="bgColor()" formControlName="description" placeholder="description" value="{{data.description}}" cols="30" rows="auto" ></textarea>
</div>
<div fxLayoutAlign="end center">
  <p matTooltip="Created: {{ createdDate | date:'short' }}">
    Edited: {{dateTime | date:'medium' }}
  </p>
</div>
</form>
<mat-dialog-actions [ngClass]="bgColor()" fxLayout="row" fxLayoutAlign="space-between center"  >
  <app-action-buttons [card]="data"></app-action-buttons>
  <button mat-button mat-dialog-close (click)="OnUpdate()">Close</button>
</mat-dialog-actions>
