input{
  width: 90%;
    outline: none;
    border: none;
    border-radius: 8px;
}

.my-button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    padding-top: 4px;
    border: none;
    background-color: transparent;
  }
  
  .my-button:hover {
    background-color: rgba(153, 147, 147, 0.5);
  }
  

  .bgred {
    background-color: #e75454;
  }
  
  .bgwhite {
    background-color: #ffffff;
  }
  
  .bggreen {
    background-color: #65e665;
  }
  
  .bgorange {
    background-color: #e28011;
  }
  
  .bggray {
    background-color: #c3c0c086;
  }
  
  .bgpink {
    background-color: #ee6ce3;
  }
  
  .bgpurple {
    background-color: #be7aeb;
  }
  
  .bgblue {
    background-color: #5eadee;
  }
  
  .bgyellow {
    background-color: #e7da65;
  }
  