input{
  width: 90%;
    outline: none;
    border: none;
    border-radius: 8px;
}

.my-button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    padding-top: 4px;
    border: none;
    background-color: transparent;
  }
  
  .my-button:hover {
    background-color: rgba(153, 147, 147, 0.5);
  }
  