<section class="mainContent" [class.alternative]="true" fxFlex.xs = 100 fxFlex.sm = 50 fxFlex=40 
fxFlexAlign.xs="center"
>
  <div>
    <app-logo></app-logo>
    <h2>Reset Password</h2>
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="OnSubmit()">
    <div fxLayout="column" >
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          class="input"
          formControlName="newPassword"
          matInput
          [type]="showPassword? 'text':'password'"
        />
      </mat-form-field>
      <div class="error">
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">
            <mat-icon matPrefix>error</mat-icon>password must contain atleast 8
            characters
          </div>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Confrim Password</mat-label>
        <input
          class="input"
          matInput
          [type]="showPassword? 'text':'password'"
          formControlName="confirmPassword"
          autocomplete="off"
        />
      </mat-form-field>
      <div class="error">
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">
            <mat-icon matPrefix>error</mat-icon>Password doesn't match
          </div>
        </div>
      </div>
    </div>
    <p class="showPassword">
      <input class="input" type="checkbox" (click)="OnCheck()" /> Show password
    </p>
    <div class="buttonsPart"  >
      <button mat-button routerLink ="/signup" color="primary">Create account</button>
      <button class="submitBtn" mat-raised-button  color="primary">Reset</button>
    </div>
  </form>
</section>
