
<section class="mainContent">
    <div>
      <app-logo></app-logo>
      <h2>Reset Password</h2>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input class="input" matInput type="password" />
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Confrim Password</mat-label>
          <input class="input" matInput type="text" autocomplete="off" />
        </mat-form-field>
    </div>
    <div class="buttonsPart">
      <button mat-button color="primary">Create account</button>
      <button class="submitBtn" mat-raised-button color="primary">Reset </button>
    </div>
  </section>
  