<div class="mainSection"  fxLayoutAlign="space-between"   *ngFor="let note of notes; let i = index">
  <mat-card class="card"  >
   <div fxLayout="row" >
    <div  (click)="openDialog(note)" fxFlex="88%">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center" >
        <h2> {{ note.title }}</h2>
      </div>
      <mat-card-content>
        <p>
          {{ note.description }}
        </p>
      </mat-card-content>
    </div>
      <button matTooltip="Pin" class="pinBtn my-button" ><mat-icon>push_pin</mat-icon></button>
   </div>
    <!-- labels here -->
    <mat-card-actions>
    <app-action-buttons></app-action-buttons>
    
    </mat-card-actions>
  </mat-card>
</div>

