<div fxLayout="column">
    <div class="mainContent">
        <div class="header">
            <h3>Collaborators</h3>
        </div>
        <div class="infoContainer">
            <div class="info" fxLayout="row">
                <img src="../../../assets/avatar.png" alt="Owner avatar">
                <div fxlayout="column" class="OwnerInfo">
                    <p> <span class="UserName"> {{card.userName}} </span> <span class="ownerText">(owner)</span></p>
                    <p>{{card.userEmail}}</p>
                </div>
            </div>
            <div class="info" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row">
                    <img src="../../../assets/avatar.png" alt="Owner avatar">
                    <div fxlayout="column" class="OwnerInfo">
                        <p><span class="UserName"> UserName </span></p>
                        <p>Email</p>
                    </div>
                </div>
                <mat-icon matTooltip="Remove">close</mat-icon>
            </div>
            <div class="info" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row"> 
                    <div class="addIcon">
                        <mat-icon class="icon">person_add</mat-icon>
                    </div>
                    <input type="text" placeholder="Person or email to share with">
                </div>
                <mat-icon matTooltip="Add">check</mat-icon>
            </div>

        </div>
    </div>

</div>
<div class="actionButtons" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button [mat-dialog-close]>Cancel</button>
    <button mat-button>Save</button>
</div>